@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

h5 {
  font-weight: 800;
}

h4 {
  font-weight: 600;
}

h3 {
}

h2 {
  font-weight: 300;
}

button,
.icons {
  @media print {
    display: none;
  }
}

@media print {
  * {
    box-shadow: none !important;
  }
}
